h1 {font-family:Arial; text-decoration:underline; font-size:28px; text-align:center; color:#500000;}

h2 {font-family:Arial; font-size:18px; text-align:center; color:#500000;}

p {font-family:Arial; font-size:18px;}

table.bottom {text-align:center;}