h1 {font-family:Arial; text-decoration:underline; font-size:28px; text-align:center; color:#A00000 ;}

h2 {font-family:Arial; font-size:18px; text-align:center; color:#A00000 ;}


h3 {font-family:Arial; font-size:14px; text-align:center; color:#A00000 ;}

td {text-align:center;}

